= content_for :modal_title do
  Add new comment

.modal-body
  = simple_form_for :message, url: @message, remote: true, html: { role: "form" } do |f|
    = f.hidden_field :company_task_id 
    = f.input :text
    = f.submit 'Add Comment', :class => 'btn btn-primary'