%h1 New Client
.container-content
  = simple_form_for [:admin, @client] do |f|
    = f.simple_fields_for :client_info do |f|
      = f.input :company_id, collection: Company.all
    = render 'admin/shared/form_nested', f: f
    .form-group
      = f.submit 'Create New', :class => 'btn btn-primary'
