%h1 New Client
= form_for [:admin, @client] do |f|
  .form-group
    = f.label :description
    %br/
    = f.text_field :description, autofocus: false, class: 'form-control'
  = render 'admin/shared/form_nested', f: f
  .form-group
    = f.submit 'Create New', :class => 'btn btn-primary'
