%div.d-block.mb-3
  %button.btn.btn-primary{type: "button"} < Back
%div.row
  %div.col-7.bg-white.border-light-gray.ac-corner-radius
    %div.row
      %div.col-3
        %img.img-fluid.p-4{src: @company.logo}
      %div.col-9.p-4
        %h5= @company.name
        %span.d-block= "Sara Coivisto"
        %span.d-block= @company.description
  %div.col-1
  %div.col-4.bg-white.border-light-gray.ac-corner-radius
    %div.row.p-4
      %div.col.text-center.my-auto
        %div
          %h6= "PHASE"
        %div
          %H2= @phase.phase_number.to_i.to_s
      %div.col.h-100.my-auto
        %div.text-center.h-100.my-auto
          %h2= calculate_progress(@milestones) + "%"
%div.row
  %div.mt-4.col-12.bg-white.border-light-gray.ac-corner-radius.p-4
    %h5.mb-3= "Learning Objective"
    %div
      %p= @phase.learning_objetive
      %button.btn.btn-primary.float-right{type: "button"} Edit
  %div.mt-4.col-12.bg-white.border-light-gray.ac-corner-radius.p-4.mb-4
    %h5.mb-3= "Milestones"
    - @milestones.each do |milestone|
      %div.div-spacer
        %div.custom-control.custom-checkbox.p-3
          = check_box_tag(milestone.title, milestone.title, milestone.complete?)
          = milestone.title
    %button.btn.btn-primary.float-right{type: "button"} Update
- @milestones.each do |milestone|
  = milestone.complete?