.d-block.mb-3
  %button.btn.btn-primary{type: "button"} < Back
.row
  .col-7.bg-white.border-light-gray.ac-corner-radius
    .row
      .col-3
        %img.img-fluid.p-4{src: @company.logo}
      .col-9.p-4
        %h5= @company.name
        %span.d-block= "Sara Coivisto"
        %span.d-block= @company.description
  .col-1
  .col-4.bg-white.border-light-gray.ac-corner-radius.my-auto
    .row.p-4
      .col.text-center.my-auto
        %div
          %h6= "PHASE"
        %div
          %H2= @phase.phase_number.to_i.to_s
      .col.h-100.my-auto
        .text-center.h-100.my-auto
          %h2= calculate_progress(@milestones) + "%"
.row
  .mt-4.col-12.bg-white.border-light-gray.ac-corner-radius.p-4
    %h5.mb-3= "Learning Objective"
    %div
      %p= @phase.learning_objetive
      %button.btn.btn-primary.float-right{"data-target" => "#editLearningObjectiveModal", "data-toggle" => "modal", type: "button"} Edit
  .mt-4.col-12.bg-white.border-light-gray.ac-corner-radius.p-4.mb-4
    %h5.mb-3= "Milestones"
    - @milestones.each do |milestone|
      .div-spacer
        .custom-control.custom-checkbox.p-3
          = check_box_tag(milestone.title, milestone.id, milestone.complete?)
          = milestone.title
    %button.btn.btn-primary.float-right{type: "button"} Update

#editLearningObjectiveModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "editLearningObjective", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content
      .modal-header
        %h5#editLearningObjectiveModal.modal-title= "Edit Phase " + @phase.phase_number.to_i.to_s + " Learning Objective"
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        #editor
          %p= @phase.learning_objetive
        %script{src: "https://cdn.quilljs.com/1.3.6/quill.js"}
        :javascript
          var quill = new Quill('#editor', {
            theme: 'snow'
          });


      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} Cancel
        %button.btn.btn-primary{type: "button", onclick: "getContents();"} Update
