= simple_form_for @message, url: member_messages_path do |f|
  = f.hidden_field :company_task_id, value: current_company_task 
  = f.hidden_field :user_id, value: current_user.id
  = f.input :text
  = f.submit 'New comment', :class => 'btn btn-primary'