.container.container-content
  %table.table.table-borderless.table-responsive-sm
    %thead.thead
      %tr
        %th{:scope => "col"} 
          %h6 Company 
        %th{:scope => "col"} 
          %h6 Industry
        %th{:scope => "col"} 
          %h6 Location  
        %th{:scope => "col", class: 'text-center'} 
          %h6 Phase 
        %th{:scope => "col", class: 'text-center'} 
          %h6 Progress 
        %th{:scope => "col", class: 'text-center'} 
          %h6 Time Tracking 
        %th{:scope => "col", class: 'text-center'} 
          %h6 Actions 
    %tbody
      - @companies.each do |company|
        - path = nil
        - if current_user.admin?
          - path = admin_company_company_phase_path(company, company.current_phase) if company.current_phase.present?
        - elsif current_user.mentor?
          - path = mentor_company_company_phase_path(company, company.current_phase)
        %tr.tbody-tr-border
          %td
            - if company.current_phase
              =link_to(path) do
                %img{:src => "#{company.logo}", class: "img-avatar mr-2"}
                = company.name
            - else 
              %img{:src => "#{company.logo}", class: "img-avatar mr-2"}
              = company.name
          %td= company.tags.first.name if company.tags.present?
          %td= company.location.city
          %td.text-center= company.current_phase.phase.phase_number.value if company.current_phase.present?
          %td.text-center= "#{calculate_task_progress(company.current_phase, company)}%" if company.current_phase.present?
          %td.text-center.d-flex.align-center.justify-content-around{class: "#{exceeded_quota(company.current_monthly_hours)}"}
            = company.current_monthly_hours
            - if current_user.admin?
              = link_to(admin_company_time_trackings_path(company)) do
                = material_icon.access_time
            - else
              = link_to(mentor_time_trackings_path) do
                = material_icon.access_time
          %td.text-center  
            - if current_user.admin?
              = link_to(edit_admin_company_path(company), class: 'text-muted') do
                = material_icon.edit
            - elsif current_user.mentor?
              = link_to 'View', mentor_company_company_phase_path(company, company.current_phase), class: 'btn btn-secondary btn-sm' if company.current_phase