.card
  .card-body
    .row
      .col-md-2
        %img.img.img-rounded.img-fluid{src: "https://image.ibb.co/jw55Ex/def_face.jpg"}/
        %p.text-secondary.text-center= "Created at: #{message.created_at.strftime("%Y-%m-%d")}"
      .col-md-10
        %p
          %strong= "#{message.user.email} wrote:"
        %p= message.text
