.row
  .mt-4.col-md-7.col-sm.bg-white.border-light-gray.ac-corner-radius
    .row.p-4
      .col-3
        %img.img-fluid.p-4{src: @company.logo}
      .col-9.p-4
        %h5= @company.name
        %span.d-block= "Sara Coivisto"
        %span.d-block= @company.description
  .mt-4.col-1
  .mt-4.col-sm.col-md-4.bg-white.border-light-gray.ac-corner-radius.my-auto
    .row.p-4
      .col.text-center.my-auto
        %div
          %h6= "PHASE"
        %div
          %H2= @phase.phase_number.value
      .col.h-100.my-auto
        - progress = calculate_task_progress(@phase.checklists)
        .progress.js--donut-chart{"data-percentage" => "#{progress}"}
          %span.progress-left
            %span.progress-bar
          %span.progress-right
            %span.progress-bar
          .progress-value
            %div
              %h2.text-center.h-100.my-auto.js--donut-chart-center
                = "#{progress}%"
.row
  .mt-4.col-12.bg-white.border-light-gray.ac-corner-radius.p-4
    %h5.mb-3= "Learning Objectives"
    = @phase.learning_objectives.html_safe
  .mt-4.col-12.bg-white.border-light-gray.ac-corner-radius.p-4.mb-4
    %h5.mb-3= "Milestones"
    - @phase.milestones.each do |milestone|
      .div-spacer
        .custom-control.custom-checkbox.p-3
          = check_box_tag(milestone.title, milestone.id, milestone.complete?, { class: 'js--milestone-checkbox' })
          = milestone.title
          = label_tag("", "", class: "js--fade-out-on-load text-success", id: "js--milestone-tag-#{milestone.id}")
  .mt-4.col-12.bg-white.border-light-gray.ac-corner-radius.p-4.mb-4
    %h5.mb-3= "Checklists"
    - @phase.checklists.each_with_index do |checklist, index|
      .div-spacer
        #accordionChecklist.accordion
          .card
            .card-header.bg-white{id: "heading-#{index}"}
              .row
                .col-sm-8
                  %h6.mb-0=checklist.name
                .col-sm-4
                  %button.float-right.btn.btn-link{"aria-controls" => "collapse-accordion-#{index}", "aria-expanded" => "true", "data-target" => "#collapse-accordion-#{index}", "data-toggle" => "collapse", type: "button"}
                    = fa_icon "angle-down", class: "fa-2x text-dark"
            .collapse{id: "collapse-accordion-#{index}", "aria-labelledby" => "heading-#{index}", "data-parent" => "#accordionChecklist"}
              .card-body
                - checklist.tasks.each_with_index do |task, index|
                  .div-spacer
                    .custom-control.custom-checkbox.p-3
                      = check_box_tag(task.description, task.id, task.completed_by_company?(@company.id), { class: 'js--task-checkbox' })
                      =task.description
                      = label_tag("", "", class: "js--fade-out-on-load text-success", id: "js--task-tag-#{task.id}")
                      - if task.company_tasks.find_by(company: @company).present?
                        = render 'form_message', current_company_task: task.company_tasks.find_by(company: @company).id
                        - if task.company_tasks.find_by(company: @company).messages.present?
                          %a{"aria-controls" => "collapse-comment-#{index}", "aria-expanded" => "false", "data-toggle" => "collapse", href: "#collapse-comment-#{index}", role: "button"}
                            Show comments
                          .collapse{id: "collapse-comment-#{index}"}
                            - task.company_tasks.find_by(company: @company).messages.each do |message|
                              =render 'comment', message: message 