= form_for [:admin, @checklist] do |f|
  = hidden_field_tag 'checklist[tag_ids][]', nil
  .form-group.row
    .col-sm-2 Industry Tags
    .col-sm-10
      - Tag.all.where(tag_type: 'industry').each do |tag|
        .form-check.form-check-inline
          = check_box_tag 'checklist[tag_ids][]', tag.id, @checklist.tags.include?(tag), id: dom_id(tag), class: "form-check-input", type: "checkbox"
          = label_tag dom_id(tag), tag.name, class: "form-check-label"
  .form-group.row
    .col-sm-2 Expertise Tags
    .col-sm-10
      - Tag.all.where(tag_type: 'expertise').each do |tag|
        .form-check.form-check-inline
          = check_box_tag 'checklist[tag_ids][]', tag.id, @checklist.tags.include?(tag), id: dom_id(tag), class: "form-check-input", type: "checkbox"
          = label_tag dom_id(tag), tag.name, class: "form-check-label"
  .form-group
    = f.label :name
    %br/
    = f.text_field :name, autofocus: false, class: 'form-control'
  .form-group
    = f.label :order
    %br/
    = f.text_field :order, autofocus: false, class: 'form-control'
  #milestones.form-group
    = f.fields_for :tasks do |task|
      = render 'admin/checklists/task_fields', f: task
    .links
      = link_to_add_association 'Add task', f, :tasks
  = f.submit 'Save Changes', class: 'btn btn-primary'