.d-flex.flex-row.align-items-center
  %h1{ class: 'flex-grow-1'} Checklists
  = link_to('New Checklist', new_admin_checklist_path, class: 'btn btn-primary btn-sm')
.container.container-content
  %h4 Phase 1
  = render sort_by_phase("first_phase")
.container.container-content
  %h4 Phase 2
  = render sort_by_phase("second_phase")
.container.container-content
  %h4 Phase 3
  = render sort_by_phase("third_phase")
.container.container-content
  %h4 Phase 4
  = render sort_by_phase("fourth_phase")

    