%h1 Checklists
= link_to('New Checklist', new_admin_checklist_path)
#accordionChecklist.accordion
  - @checklists.each_with_index do |checklist, index|
    .card
      .card-header.bg-white{id: "heading-#{index}"}
        .row
          .col-sm-8
            %h6.mb-0=checklist.name
          .col-sm-4
            %button.float-right.btn.btn-link{"aria-controls" => "collapse-#{index}", "aria-expanded" => "true", "data-target" => "#collapse-#{index}", "data-toggle" => "collapse", type: "button"}
              = fa_icon "angle-down", class: "fa-2x text-dark"
      .collapse{id: "collapse-#{index}", "aria-labelledby" => "heading-#{index}", "data-parent" => "#accordionChecklist"}
        .card-body
          = checklist.phase.phase_number.humanize if checklist.phase.present?
          - checklist.tasks.each do |task|
            %ul.list-unstyled
              %li=task.description
          = link_to('Edit', edit_admin_checklist_path(checklist))
          |
          = link_to('View', admin_checklist_path(checklist))
          |
          = link_to("Delete", admin_checklist_path(checklist), data: { :confirm => "Are you sure?" }, method: :delete)