.d-flex.flex-row.align-items-center
  %h1{ class: 'flex-grow-1'} Checklists
  = link_to('New Checklist', new_admin_checklist_path, class: 'btn btn-primary btn-sm')
.container.container-content
  %h4 Phase 1
  = render get_checklists("first_phase", @checklists)
.container.container-content
  %h4 Phase 2
  = render get_checklists("second_phase", @checklists)
.container.container-content
  %h4 Phase 3
  = render get_checklists("third_phase", @checklists)
.container.container-content
  %h4 Phase 4
  = render get_checklists("fourth_phase", @checklists)

    