%h1 Admin Management
= link_to('New Admin', new_admin_admin_path)
|
= render 'admin/shared/links'
.container.container-content
  %table.table.table-borderless.table-responsive-sm
    %thead.thead
      %tr
        %th{:scope => "col"} 
          %h6 Email
        %th{:scope => "col"} 
          %h6 Role
        %th{:scope => "col"} 
          %h6 Actions
    %tbody
      - @admins.each do |admin|
        %tr
          %td
            = admin.email
            = " (Invitation pending)" if admin.invitation_created_at.present? && admin.invitation_accepted_at.nil?
          %td
            = admin.type
          %td
            - if admin.deleted_at.present?
              = button_to "Restore", {controller: "admins", action: "reactivate_admin", id: admin.id}, {class: 'btn btn-warning btn-sm', data: { :confirm => "Are you sure?" }}
            -else
              = link_to("Disable", admin_admin_path(admin), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-sm')
            = link_to("Reset password", admin_send_reset_password_instructions_path(admin), data: { confirm: "Are you sure?" }, method: :post, class: 'btn btn-success btn-sm')
