<h1>New Administrator</h1>

  <%= form_for [:admin, @admin] do |f| %>
    <div class="form-group">
      <%= f.label :description %><br />
      <%= f.text_field :description, autofocus: false, class: 'form-control' %>
    </div>

    <%= render 'admin/shared/form_nested', f: f %>

     <div class="form-group">
        <%= f.submit 'Create New', :class => 'btn btn-primary' %>
      </div>
  <% end %>
