%nav.navbar.navbar-expand-lg.navbar-dark.bg-ac-blue
  = link_to current_user.account.company.name, member_root_path, class: "navbar-brand"
  %button.navbar-toggler.p-0.border-0{"aria-controls" => "navbarMobile", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarMobile", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarMobile.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      = link_to('Company', member_company_path(current_user.account.company), class: 'nav-link')
      = link_to('Phases', member_phases_path, class: 'nav-link')
    %ul.navbar-nav.ml-auto
      - if user_signed_in?
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
            My Profile
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
            = link_to 'Dashboard',member_root_path, class: "dropdown-item" if current_user.client?
            .dropdown-divider
            = link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
      - else
        %li.nav-item
          = link_to "Login", new_user_session_path, class: 'nav-link'