%h3 Mentor Management
= link_to('New Mentor', new_admin_mentor_path)
|
= render 'admin/shared/links'
.container.container-content
  %table.table.table-borderless.table-responsive-sm
    %thead.thead
      %tr
        %th{:scope => "col"} 
          %h6 Email
        %th{:scope => "col"} 
          %h6 Role
        %th{:scope => "col"} 
          %h6 Actions
    %tbody
      - @mentors.each do |mentor|
        %tr
          %td
            = mentor.email
            = " (Invitation pending)" if mentor.invitation_created_at.present? && mentor.invitation_accepted_at.nil?
          %td
            = mentor.type
          %td
            = link_to("Edit", edit_admin_mentor_path(mentor), class: 'btn btn-info btn-sm')
            - if mentor.deleted_at.present?
              = button_to "Restore", {controller: "mentors", action: "reactivate_mentor", id: mentor.id}, {class: 'btn btn-warning btn-sm', data: { :confirm => "Are you sure?" }}
            -else
              = link_to("Disable", admin_mentor_path(mentor), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-sm') unless mentor == current_user
            = link_to("Reset password", admin_send_reset_password_instructions_path(mentor), data: { confirm: "Are you sure?" }, method: :post, class: 'btn btn-success btn-sm')
