= f.simple_fields_for :location do |f|
  .form-group
    = f.input :address_line1, autofocus: false, class: 'form-control'
  .form-group
    = f.input :address_line2, autofocus: false, class: 'form-control'
  .form-row
    .form-group.col-md-6
      = f.input :city, autofocus: false, class: 'form-control'
    .form-group.col-md-4
      = f.label :state
      %br/
      = f.select(:state, options_for_select(us_states, selected: @company.location.state), {include_blank: 'Select State'}, {class: 'custom-select'})
    .form-group.col-md-2
      = f.input :postal_code, autofocus: false, class: 'form-control'
  .form-group
    = f.input :country, autofocus: false, class: 'form-control'