%h1 Client Management
= link_to('New Client', new_member_client_path)
%table.table.table-bordered
  %thead
    %tr
      %th{:scope => "col"} Email
      %th{:scope => "col"} Company
      %th{:scope => "col"} Role
  %tbody
    - @clients.each do |client|
      %tr
        %td
          = client.email
          = " (Invitation pending)" if client.invitation_created_at.present? && client.invitation_accepted_at.nil?
        %td
          = client.client_info.company.name
        %td
          = client.type
